<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ak47.www.koko_androiddemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".widget.MaterialSearchView_activity" />
        <activity android:name=".layout.tablayout.SlidingTabLayout_Activity" />
        <activity android:name=".layout.recyclerview.RecyclerView_Activity" />
        <activity android:name=".layout.swiperefreshLayout.SwipeRefreshLayout_Activity" />
        <activity android:name=".glide.Glide_Activity" />
        <activity android:name=".net.apache.HttpClient_activity" />
        <activity android:name=".net.json.EarthquakeActivity" />
        <activity android:name=".thread_asyn.asynctask.AsyncTask_activity" />
        <activity android:name=".structure.status.StateActivity" />
        <activity android:name=".net.retrofit.RetrofitActivity" />
        <activity android:name=".thread_asyn.rxjava.RxjavaSampleActivity" />
        <activity android:name=".widget.banner.BannerViewActivity" />
        <activity android:name=".sdk.baidumap.BaiduMapActivity" />

        <!-- 百度地图key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="udC47CcQ57uIEuarbkcHUxAvOhlz48AF" />

        <!-- 四大组件之activity -->
        <activity android:name=".component.activity.One_Activity" />
        <activity android:name=".component.activity.Two_Activity" />


        <!-- 四大组件之service -->
        <activity android:name=".component.service.Service_Activity" />
        <service
            android:name=".component.service.One_Service"
            android:enabled="true"
            android:exported="true" />
        <!--自定义View-->
        <activity android:name=".widget.custom_view.CustomViewActivity" />

        <!--Fragment-->
        <!--demo1-->
        <activity android:name=".component.fragment.demo1.AndroidMeActivity" />
        <activity android:name=".component.fragment.demo1.MasterListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>